In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

In [1]:
df = pd.read_csv('Medium_Clean.csv')
df.head()

NameError: name 'pd' is not defined

In [8]:
df.drop(['Subtitle','Image','Author','Publication','Year','Month','Day','Reading_Time','url','Author_url'], axis=1)

,Unnamed: 0,Title,Claps,Tag_ai,Tag_android,Tag_apple,Tag_architecture,Tag_art,Tag_artificial-intelligence,Tag_big-data,...,Tag_travel,Tag_trump,Tag_ux,Tag_venture-capital,Tag_web-design,Tag_web-development,Tag_women,Tag_wordpress,Tag_work,Tag_writing
0,2,Online Animation: Mixamo vs Norah AI,12.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5,A.I. ?,11.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,11,"Futures of AI, Friendly AI?",1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,12,The Value Generated through AI led Mindfulness,4.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,17,"Os Melhores Links de JulhoCmeras Vintage, Goog...",56.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1391028,437504,(Shallow Neural Network),6.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1391029,437505,11 Great Uses for Siri + Bonus Tip,0.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1391030,437506,ATTN students: A handy tool to help you write ...,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1391031,437507,NaN,1.0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1391032,437508,WordPress and Medium,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [13]:
df_ai=df[['Title','Claps','Tag_ai']]
df_ai

                                                     Title  Claps  Tag_ai
0                     Online Animation: Mixamo vs Norah AI   12.0       1
1                                                   A.I. ?   11.0       1
2                              Futures of AI, Friendly AI?    1.0       1
3           The Value Generated through AI led Mindfulness    4.0       1
4        Os Melhores Links de JulhoCmeras Vintage, Goog...   56.0       1
...                                                    ...    ...     ...
1391028                           (Shallow Neural Network)    6.0       0
1391029                 11 Great Uses for Siri + Bonus Tip    0.0       0
1391030  ATTN students: A handy tool to help you write ...    0.0       0
1391031                                                NaN    1.0       0
1391032                               WordPress and Medium    0.0       0

[1391033 rows x 3 columns]

In [36]:
df_ai1 = df_ai[(df_ai.Tag_ai == 1)]
df_ai1

                                                     Title   Claps  Tag_ai
0                     Online Animation: Mixamo vs Norah AI    12.0       1
1                                                   A.I. ?    11.0       1
2                              Futures of AI, Friendly AI?     1.0       1
3           The Value Generated through AI led Mindfulness     4.0       1
4        Os Melhores Links de JulhoCmeras Vintage, Goog...    56.0       1
...                                                    ...     ...     ...
1389183  We used AI to solve a problem at Mayte, heres ...   115.0       1
1389202                               The New Intelligence  3400.0       1
1389967  Imagination emerges from our biological ground...     2.0       1
1390915                                  Why America Slept   726.0       1
1390916         WTF? Whats the Future and Why Its Up To Us  1500.0       1

[13763 rows x 3 columns]

In [37]:
df_ai2=df_ai1.sort_values(by='Claps', ascending=False)
df_ai2.head(10)

                                                     Title    Claps  Tag_ai
1155436  Blockchain is not only crappy technology but a...  53000.0       1
1244209       Fast-forward twenty years with Anything App.  42000.0       1
1326017  Are Programmers Headed Toward Another Bursting...  23000.0       1
1339400   Chatbots were the next big thing: what happened?  19200.0       1
1045540       GAME-CHANGING TRENDS TO LOOK OUT FOR WITH AI  18300.0       1
1331092                  Digitocracy: A Story by Andy Weir  11200.0       1
1386239  Thoughts after taking the Deeplearning.ai courses  10800.0       1
1075124  Do algorithms reveal sexual orientation or jus...   9400.0       1
982844   Capsule Networks Are Shaking up AIHeres How to...   9000.0       1
1369899      Machine Learning: how to go from Zero to Hero   8600.0       1

In [38]:
df_android=df[['Title','Claps','Tag_android']]
df_android

                                                     Title  Claps  Tag_android
0                     Online Animation: Mixamo vs Norah AI   12.0            0
1                                                   A.I. ?   11.0            0
2                              Futures of AI, Friendly AI?    1.0            0
3           The Value Generated through AI led Mindfulness    4.0            0
4        Os Melhores Links de JulhoCmeras Vintage, Goog...   56.0            0
...                                                    ...    ...          ...
1391028                           (Shallow Neural Network)    6.0            0
1391029                 11 Great Uses for Siri + Bonus Tip    0.0            0
1391030  ATTN students: A handy tool to help you write ...    0.0            0
1391031                                                NaN    1.0            0
1391032                               WordPress and Medium    0.0            0

[1391033 rows x 3 columns]

In [39]:
df_android1 = df_android[(df_android.Tag_android == 1)]
df_android2=df_android1.sort_values(by='Claps', ascending=False)
df_android2.head(10)

,Title,Claps,Tag_android
1369387,How I went from programming with a Nokia featu...,68000.0,1
1236292,Who will steal Android from Google?,23000.0,1
1270656,React Native at Airbnb,17100.0,1
1270657,React Native at Airbnb: The Technology,17000.0,1
1362197,5 things you should do to get selected for the...,16200.0,1
1270659,Sunsetting React Native,13400.0,1
5657,ViewModels and LiveData: Patterns + AntiPatterns,12000.0,1
1118060,A Eulogy for the Headphone Jack,11500.0,1
9564,Learning Android Development in 2018Part 1,11300.0,1
1289084,Are app reviews worth reading?,10900.0,1

In [40]:
df_apple=df[['Title','Claps','Tag_apple']]
df_apple1 = df_apple[(df_apple.Tag_apple == 1)]
df_apple2=df_apple1.sort_values(by='Claps', ascending=False)
df_apple2.head(10)

                                                     Title    Claps  Tag_apple
1053175  The Making of Apples Emoji: How designing thes...  42000.0          1
1117807              Progressive Web Apps on iOS are here   31000.0          1
986538   Why I owned a Macbook Pro for a dayand what it...  31000.0          1
983257   Dive into the details of iOS 11: Is Apple stil...  29000.0          1
1342618                 No Cutting Corners on the iPhone X  29000.0          1
1383111  The iPhone X is the Beginning of the End for P...  26000.0          1
985708                                  The iPhone is Dead  18600.0          1
1339801  How Apple is Crippling Its Old Devices with Ne...  17900.0          1
1331272        Google and the Resurgence of Italian Design  17200.0          1
1317073  The only Mac apps you need for a productive 2018   17000.0          1

In [41]:
df_architecture=df[['Title','Claps','Tag_architecture']]
df_architecture1 = df_architecture[(df_architecture.Tag_architecture == 1)]
df_architecture2=df_architecture1.sort_values(by='Claps', ascending=False)
df_architecture2.head(10)

,Title,Claps,Tag_architecture
985943,Thorough Introduction to Apache Kafka,7800.0,1
1297372,The Best Design Books That Arent Explicitly Ab...,6700.0,1
1271690,7 Pro-tips for Room,5800.0,1
983916,How Serverless Computing will Change the World...,4100.0,1
30126,Is Docker and Kubernetes offering the Best Arc...,3000.0,1
954074,Why to choose MVVM over MVPAndroid Architecture,2900.0,1
971488,Designing the architecture for your Ethereum a...,2700.0,1
989509,Understanding React Higher-Order Components by...,2600.0,1
953980,Android Architecture Components: ViewModel,2400.0,1
965064,12 Things to Help Large Organizations Do Angul...,2400.0,1

In [44]:
print(df.columns.values)

['Unnamed: 0' 'Title' 'Subtitle' 'Image' 'Author' 'Publication' 'Year'
 'Month' 'Day' 'Reading_Time' 'Claps' 'url' 'Author_url' 'Tag_ai'
 'Tag_android' 'Tag_apple' 'Tag_architecture' 'Tag_art'
 'Tag_artificial-intelligence' 'Tag_big-data' 'Tag_bitcoin'
 'Tag_blacklivesmatter' 'Tag_blockchain' 'Tag_blog' 'Tag_blogging'
 'Tag_books' 'Tag_branding' 'Tag_business' 'Tag_college'
 'Tag_computer-science' 'Tag_creativity' 'Tag_cryptocurrency'
 'Tag_culture' 'Tag_data' 'Tag_data-science' 'Tag_data-visualization'
 'Tag_deep-learning' 'Tag_design' 'Tag_dogs' 'Tag_donald-trump'
 'Tag_economics' 'Tag_education' 'Tag_energy' 'Tag_entrepreneurship'
 'Tag_environment' 'Tag_ethereum' 'Tag_feminism' 'Tag_fiction' 'Tag_food'
 'Tag_football' 'Tag_google' 'Tag_government' 'Tag_happiness' 'Tag_health'
 'Tag_history' 'Tag_humor' 'Tag_inspiration' 'Tag_investing' 'Tag_ios'
 'Tag_javascript' 'Tag_jobs' 'Tag_journalism' 'Tag_leadership' 'Tag_life'
 'Tag_life-lessons' 'Tag_love' 'Tag_machine-learning' 'Tag_marketing'
 'Tag_medium' 'Tag_mobile' 'Tag_motivation' 'Tag_movies' 'Tag_music'
 'Tag_nba' 'Tag_news' 'Tag_nutrition' 'Tag_parenting'
 'Tag_personal-development' 'Tag_photography' 'Tag_poem' 'Tag_poetry'
 'Tag_politics' 'Tag_product-design' 'Tag_productivity' 'Tag_programming'
 'Tag_psychology' 'Tag_python' 'Tag_racism' 'Tag_react'
 'Tag_relationships' 'Tag_science' 'Tag_self-improvement'
 'Tag_social-media' 'Tag_software-engineering' 'Tag_sports' 'Tag_startup'
 'Tag_tech' 'Tag_technology' 'Tag_travel' 'Tag_trump' 'Tag_ux'
 'Tag_venture-capital' 'Tag_web-design' 'Tag_web-development' 'Tag_women'
 'Tag_wordpress' 'Tag_work' 'Tag_writing']

In [45]:
df_art=df[['Title','Claps','Tag_art']]
df_art1 = df_art[(df_art.Tag_art == 1)]
df_art2=df_art1.sort_values(by='Claps', ascending=False)
df_art2.head(10)

                                                     Title     Claps  Tag_art
1322238                 A quick beginners guide to drawing  118000.0        1
1322458                                 Seeing vs. reading   21000.0        1
1322199                           5 more drawing exercises   20000.0        1
1322543  The Most Important Word You Need to Follow in ...   17000.0        1
1017238                     The dangerous myths of passion   16900.0        1
954539   A Boost for the Creative (or those who want to...   16300.0        1
1322606  This Is What Happened When I Turned My Smart P...   15800.0        1
1322630               Two Words That Will Change Your Life   13200.0        1
1331299                        Dont Be Afraid to Be Simple   13100.0        1
30645                       the year of living with banksy   12800.0        1