In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

In [3]:
df = pd.read_csv('Medium_Clean.csv')
df.head()

C:\Program Files\Python37\lib\site-packages\IPython\core\interactiveshell.py:3044: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Title,Subtitle,Image,Author,Publication,Year,Month,Day,Reading_Time,...,Tag_travel,Tag_trump,Tag_ux,Tag_venture-capital,Tag_web-design,Tag_web-development,Tag_women,Tag_wordpress,Tag_work,Tag_writing
0,2,Online Animation: Mixamo vs Norah AI,Online animations tools provide game designers...,1,Emma Laurent,NaN,2017,8,1,5,...,0,0,0,0,0,0,0,0,0,0
1,5,A.I. ?,NaN,0,Sanparith Marukatat,NaN,2017,8,1,2,...,0,0,0,0,0,0,0,0,0,0
2,11,"Futures of AI, Friendly AI?",From Physics of the Future: How Science Will S...,1,Z,NaN,2017,8,1,3,...,0,0,0,0,0,0,0,0,0,0
3,12,The Value Generated through AI led Mindfulness,A true product co-created by the Millennials,1,Emiko Sawaguchi,MILLENNIALSTIMES,2017,8,1,5,...,0,0,0,0,0,0,0,0,0,0
4,17,"Os Melhores Links de JulhoCmeras Vintage, Goog...",mas pera a?,1,Giovani Ferreira,NEW ORDER,2017,8,1,3,...,0,0,0,0,0,0,0,0,0,0

In [4]:
__df = df.drop(df.columns[2:13], axis=1)
__df.head()

,Unnamed: 0,Title,Tag_ai,Tag_android,Tag_apple,Tag_architecture,Tag_art,Tag_artificial-intelligence,Tag_big-data,Tag_bitcoin,...,Tag_travel,Tag_trump,Tag_ux,Tag_venture-capital,Tag_web-design,Tag_web-development,Tag_women,Tag_wordpress,Tag_work,Tag_writing
0,2,Online Animation: Mixamo vs Norah AI,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5,A.I. ?,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,11,"Futures of AI, Friendly AI?",1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,12,The Value Generated through AI led Mindfulness,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,17,"Os Melhores Links de JulhoCmeras Vintage, Goog...",1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
def rev_onehot(row):
    for c in __df.columns[2:]:
        if row[c]==1:
            return c

tagged_list = __df.apply(rev_onehot, axis=1)
print(tagged_list)

0                               Tag_ai
1                               Tag_ai
2                               Tag_ai
3                               Tag_ai
4                               Tag_ai
                      ...
1391028    Tag_artificial-intelligence
1391029                      Tag_apple
1391030                   Tag_blogging
1391031                   Tag_blogging
1391032                   Tag_blogging
Length: 1391033, dtype: object

In [6]:
main_df = pd.DataFrame(columns=['Url', 'Claps', 'Tag'])
main_df['Url'] = df['url']
main_df['Claps'] = df['Claps']
main_df['Tag'] = tagged_list
main_df.head()

                                                 Url  Claps     Tag
0  https://medium.com/@laurentemma/online-animati...   12.0  Tag_ai
1  https://medium.com/@sanparithmarukatat/a-i-%E0...   11.0  Tag_ai
2  https://medium.com/@otherside914/futures-of-ai...    1.0  Tag_ai
3  https://millennials-times.com/creativeflower-e...    4.0  Tag_ai
4  https://medium.com/neworder/os-melhores-links-...   56.0  Tag_ai

In [6]:
#main_df.to_csv('Medium-Clean-Reduced.csv')

In [10]:
test_df = main_df.set_index('Url').groupby('Tag')['Claps'].nlargest(200).reset_index()
test_df

               Tag                                                Url    Claps
0           Tag_ai  https://medium.com/@kaistinchcombe/decentraliz...  53000.0
1           Tag_ai  https://medium.com/@theanythingapp/fast-forwar...  42000.0
2           Tag_ai  https://medium.com/predict/are-programmers-hea...  23000.0
3           Tag_ai  https://medium.com/swlh/chatbots-were-the-next...  19200.0
4           Tag_ai  https://medium.com/@WisewolfFund_io/unique-tre...  18300.0
...            ...                                                ...      ...
18995  Tag_writing  https://writingcooperative.com/one-reason-why-...    544.0
18996  Tag_writing  https://writingcooperative.com/simple-secrets-...    544.0
18997  Tag_writing  https://medium.com/dharma-dispatch/the-thrivin...    544.0
18998  Tag_writing  https://medium.com/chalkboard/wrinkles-bb198e2...    541.0
18999  Tag_writing  https://writingcooperative.com/those-who-can-w...    533.0

[19000 rows x 3 columns]

In [11]:
test_df.groupby('Tag').count()

                     Url  Claps
Tag
Tag_ai               200    200
Tag_android          200    200
Tag_apple            200    200
Tag_architecture     200    200
Tag_art              200    200
...                  ...    ...
Tag_web-development  200    200
Tag_women            200    200
Tag_wordpress        200    200
Tag_work             200    200
Tag_writing          200    200

[95 rows x 2 columns]

In [12]:
exp_df = test_df.sample(frac=1).reset_index(drop=True)
exp_df

,Tag,Url,Claps
0,Tag_poetry,https://medium.com/@elektra.sunn/cheshire-moon...,1300.0
1,Tag_marketing,https://medium.com/@nicolascole77/if-youre-doi...,1800.0
2,Tag_travel,https://medium.com/@garrettgee/the-bucket-list...,1200.0
3,Tag_web-design,https://medium.com/backticks-tildes/building-a...,437.0
4,Tag_relationships,https://medium.com/@krisgage/when-theyre-alrea...,1800.0
...,...,...,...
18995,Tag_education,https://hackernoon.com/why-i-like-coding-as-a-...,2900.0
18996,Tag_blog,https://medium.com/the-post-grad-survival-guid...,284.0
18997,Tag_programming,https://medium.freecodecamp.org/the-main-pilla...,15400.0
18998,Tag_happiness,https://medium.com/@krisgage/10-things-you-did...,2400.0
18999,Tag_startup,https://medium.com/@eugenesanu/7-stages-of-use...,1800.0

In [14]:
exp_df.to_csv('Export-Medium-Data-950.csv')